<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Farhan Tanvir on 12/5/21, 7:07 PM
  ~ Last modified 12/5/21, 7:00 PM
  ~ Contact : farhantanvir65@gmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farhan.tanvir.pexels">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pexels">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>